# LabVIEW Language Detection
*.vi linguist-language=LabVIEW
*.lvproj linguist-language=LabVIEW
*.lvlib linguist-language=LabVIEW
*.lvclass linguist-language=LabVIEW

# Markdown files
*.md linguist-detectable=true

# Documentation
*.md linguist-documentation=true
